@import url(http://fonts.googleapis.com/css?family=Raleway);
html, body, #container{
  color: #303;
  font-size: 14pt;
  font-family: "Raleway", Helvetica, Arial, Verdana, sans-serif;
}

#t2t {
  width: 100%;
  background: url("../img/Paramore_Concert.jpg") fixed;
  background-size : cover;
  background-repeat : no-repeat;
  background-position : 50% 20%;
}

.pp-tableCell, .fp-tableCell  {text-align: center;}

#siteName{ font-size: 48pt; margin-top:10%;}

#artistNameInput,#artistButton{
  font-size: 24pt;
  line-height: 28pt;
  vertical-align: baseline;
}
#artistNameInput{
  color: purple;
  padding-left: 8px;
}
#artistButton{
  color: #666;
}

#artistLookupResult{
  padding: 24pt;
  font-size: 21pt;
}
#eventsContainer{
  margin-top: 128px;
  width: 100%;
}
#eventsList {
  background: rgba(0,0,0,.75);
  color: #AA99AA;
  margin: 12pt 8pt;
  padding: 8pt;
}

.event {
  background: rgba(0,0,0,.5);
  padding: 8pt;
  margin: 8pt 0;
  text-align: left;
}
.event a { color: inherit !important;}
.clrflt { clear: both; }
.event hr{margin: 0; border:none; background: transparent;}
.city { font-size: 21pt; font-weight: normal; display: inline-block; color: #FFFFFF;
  margin-right: 8px;}
.venue {font-size: 16pt; display: inline-block; color: linen;
  margin-right: 8px; padding-left: 8px; border-left: 1px solid rgba(64,48,64,.8);}
.date {font-size: 14pt; display: inline-block; color: linen; border-left: 1px solid rgba(64,48,64,.8); padding-left: 8px;}
.placeDetail {border-top: 1px solid rgba(64,48,64,.8); color: linen;}
.region { display: inline-block; margin-bottom: 12pt;}
.country {display: inline-block;}
.hotels { clear: both;}
.hotelDiv { margin: 2pt 8pt 2pt 0; width:160px; float: left; }
.hotelDiv div {float: left;}
.hotelname { font-size: 10pt; }
.imgcont { width: 100%;}
.price {display: inline; font-size: 9pt;}
.rating {font-size: 9pt;}
.outof {font-size: 7pt; color: #777;}
.nearEvents { font-size: 8pt;}
.nearby {}

@media screen and (min-width : 2440px) {
  body{ zoom: 1.5; }
}
@media screen and (min-width: 1200px){
}
@media screen and (min-width : 980px) {
  #artistNameInput { width : 50%; }
  #eventsList { width : 60%; }
  .hotelDiv {width:19%;}
}
@media screen and (max-width: 980px){
  #artistNameInput{width: 90%;}
  #eventsList { width:95%; }
  .hotelDiv {width:19%;}
}
@media screen and (max-width: 600px) {
  #siteName{font-size: 32pt !important;}
}
@media screen and (max-height: 450px) {
  #siteName{font-size: 32pt !important;}
}

.imgcont1 {
  display: inline-block;
  height: 30px;
  width: 90%;
  text-align: center; /* ensures the image is always in the h-middle */
  overflow: hidden; /* hide the cropped portion */
}

.imgcont1 img {
  position: relative; /* allows repositioning */
  left: 100%; /* move the whole width of the image to the right */
  margin-left: -128pt; /* magic! */
}